:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background:rgb(255, 170, 190);
  color:rgb(65, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  text-align: center;
  color: rgb(200, 72, 120);
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: brown;
  text-align: center;
}

table {
  text-align: center;
  align-content: center;
  border: solid 2px rgb(193, 52, 20);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
} 

th, td {
  text-align: center;
  align-content: center;
  border: solid 1px rgb(193, 52, 20);
  color: rgb(193, 72, 80);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: pink;
}

form {
  text-align: center;
}

input {
  background: pink;
  border: solid 1.5px brown;
  color: brown;
}

::placeholder {
  color: rgb(193, 72, 80);
}

#editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgb(240, 149, 170);
  border: solid 1.5px brown;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
  border-radius: 40px;
  border: solid 1.5px brown;
  color: rgb(193, 72, 80);
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: pink;
  cursor: pointer;
  transition: border-color 0.5s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
